.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #F2F2F2;
}

.footer__column-link:hover {
  color: #2f80ed;;
  transition: color 0.8s;
}
